h1 {
    color: #eee;
    margin-bottom: 30px;
    margin-top: 20px;
}

body {
    color: white;
}

nav{
background-color: rgb(255, 255, 255);
background-image: url(/img/AoE2Assets/NavBackground.jpg);
font-size: larger;
color: black;
}
nav ul a{
    text-decoration: none;
}

/* CIVS */
.container {
    padding: 40px;
    margin: 0 auto;
    max-width: 80%;
    text-align: center;
}

#civList {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 2fr));
    grid-gap: 1rem;
}

.civilizations {
    list-style-type: none;
    background-color: #00000000;
    padding: 10px 20px;
    text-align: center;
    margin-top: 10px;
    filter: brightness(90%);
}

.civilizations a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 3px 2px 2px rgb(0, 0, 0);
}

.civilizations li img:hover{
    filter: brightness(120%);
    transition: 1s;
    transform: scale(1.1);
    z-index: 2;
}

#searchBar {
    width: 50%;
    height: 32px;
    border: 1px solid #eaeaea;
    padding: 5px 10px;
    font-size: 12px;
}

/*PLAYER LIST*/

.main-input {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.player-input {

 
    background-color: #ffffff00;
    font-family: 'IM Fell English SC', serif;
    color: #001219;
}

.form-players {
 

    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;
}

.form-players label {
    display: block;
    color: rgb(255, 255, 255);
    padding: .5rem;
}

.form-players input {
    font-size: 1.2rem;
    font-family: 'IM Fell English SC', serif;
    outline: none;
    border-radius: .3rem;
    border: none;
    padding: .2rem;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border-bottom: white 1px solid;
}

.button {
    background-color: #ac0909;
    border: none;
    padding: .8rem;
    margin: 1.5rem;
    font-size: 1.2rem;
    color: #001219;
}

#table {
    background-color: rgba(255, 255, 255, 0.987);
    padding: 1rem;
    width: 80%;
    max-width: 500px;
}

#table .button {
    margin: 0;
}

#table td,
#table th {
    padding: 1rem;
    border: black 3px solid;
}
