@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');
body {
    background-image:url(/img/backgroundDarkWood.jpg);
    background-size: cover ;
    background-attachment: fixed;
    font-family: 'IM Fell English SC', serif;
    color: white;
}

h1 {
  color: #eee;
  margin-bottom: 30px;
  margin-top: 20px;
}

/* NAV */

nav{
background-color: rgba(255, 255, 255, 0.611);
border: 5px solid rgb(123, 90, 56);
font-size: larger;
color: black;
}

nav ul a{
  text-decoration: none;
  text-shadow: -3px 2px 2px rgb(114, 107, 107);
  color: black;
  font-weight: 600;
}

nav ul a:hover{
  text-shadow: -3px 2px 2px rgb(202, 202, 202);
  color: rgb(75, 75, 75);
}

/* LOGIN */

.loginFrame{
    width: 100%;
    height: 100vh;
    background-image: url(/img/Banners/AoE2Banner.jpg);
    background-position: center;
    border: 2px solid black;
}

.login {
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%);
    background: rgba(0, 0, 0, 0.748);
    text-align: center;
    border: 10px solid black;
}

.login input[type="text"], .login input[type="password"] {
    border: 0;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.494);
    padding: 5px;
    width: 320px;
    outline: none;
}


/* TIMELINE */ 
  
#timeline {
  width: 80%;
  height: 500px;
  overflow: hidden;
  margin: 100px auto;
  position: relative;
  background: url('../img/TimeLineAssets/dot.gif') left 45px repeat-x;
}
  #dates {
    width: 100%;
    height: 70px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
  }
    #dates li {
      text-decoration: none;
      list-style: none;
      color: white;
      width: 100px;
      height: 50px;
      font-size: 24px;
      text-align: center;
      background: url('../img/TimeLineAssets/biggerdot.png') center bottom no-repeat;
    }
      #dates a {
        text-decoration: none;
        color: white;
        line-height: 38px;
        padding-bottom: 10px;
      }
      #dates .selected {
            font-size: 38px;
      }
      
#issues {
  width: 80%;
  height: 800px;
  overflow: hidden;
} 
  #issues li {
    width: 800px;
    height: 700px;
    list-style: none;
    float: left;
  }
    #issues li.selected img {
      -webkit-transform: scale(1.1,1.1);
      transform: scale(1.1,1.1);
    }
    #issues li img {
      float: left;
      margin: 10px 30px 15px 50px;
      background: transparent;  
      zoom: 1;
      -webkit-transition: all 2s ease-in-out;
      transition: all 2s ease-in-out;
      -webkit-transform: scale(0.7,0.7);
      transform: scale(0.7,0.7);
    }
    #issues li h1 {
      color: #ffcc00;
      font-size: 48px;
      margin: 10px 0;
      text-shadow: #000 1px 1px 2px;
    }
    #issues li p {
      font-size: 15px;
      margin-right: 50px;
      font-weight: normal;
      line-height: 30px;
      text-shadow: #000 1px 1px 2px;
      height: 300px;
    }
      #next,
      #prev {
        position: absolute;
        top: 0;
        font-size: 70px;
        top: 170px;
        width: 22px;
        height: 38px;
        background-position: 0 0;
        background-repeat: no-repeat;
        text-indent: -9999px;
        overflow: hidden;
      }
        #next:hover,
        #prev:hover {
          background-position: 0 -76px;
        }
        #next {
          right: 0;
          background-image: url('../img/TimeLineAssets/next.png');
        }
        #prev {
          left: 0;
          background-image: url('../img/TimeLineAssets/prev.png');
        }
          #next.disabled,
          #prev.disabled {
            opacity: 0.2;
          }

        #ageInfo{
            margin: 4%;
            border: 2px solid black;
            background-color: rgba(0, 0, 0, 0.275);
            padding: 1%;
        }
        
        #ageInfo p{
            font-weight: 400;
        }
        
        
        /* CIVS */
        .container {
            margin: 0 auto;
            text-align: center;
        }
        
        #civList {
            padding-inline-start: 0;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(190px, 4fr));
            grid-gap: 1rem;
        }
        
        .civilizations {
            list-style-type: none;
            background-color: #00000000;
            padding: 10px 20px;
            text-align: center;
            margin-top: 10px;
            filter: brightness(90%);
        }
        
        .civilizations a{
            text-decoration: none;
            color: rgb(255, 255, 255);
            text-shadow: 3px 2px 2px rgb(0, 0, 0);
        }
        
        .civilizations li img:hover{
            filter: brightness(120%);
            transition: 1s;
            transform: scale(1.1);
            z-index: 2;
        }
        
        #searchBar {
            width: 50%;
            height: 32px;
            border: 1px solid #eaeaea;
            padding: 5px 10px;
            font-size: 12px;
        }
        
        /*UNITS*/
        
        
        
        /*PLAYER LIST*/
        
        .main-input {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-evenly;
        }
        
        .player-input {
            background-color: #ffffff00;
            font-family: 'IM Fell English SC', serif;
            color: #001219;
        }
        
        .form-players {
            text-align: center;
            font-size: 1.2rem;
            padding: 1rem;
        }
        
        .form-players label {
            display: block;
            color: rgb(255, 255, 255);
            padding: .5rem;
        }
        
        .form-players input {
            font-size: 1.2rem;
            font-family: 'IM Fell English SC', serif;
            outline: none;
            border-radius: .3rem;
            border: none;
            padding: .2rem;
            background-color: rgba(255, 255, 255, 0);
            color: white;
            border-bottom: white 1px solid;
        }
        
        .button {
            background-color: #ac0909;
            border: none;
            padding: .8rem;
            margin: 1.5rem;
            font-size: 1.2rem;
            color: #001219;
        }
        
        #table {
            background-color: rgba(255, 255, 255, 0.987);
            padding: 1rem;
            width: 80%;
            max-width: 500px;
        }
        
        #table .button {
            margin: 0;
        }
        
        #table td,
        #table th {
            padding: 1rem;
            border: black 3px solid;
        }
        
        /* STORE */
        
        .mainStore {
            display: flex;
            justify-content: center;
            flex-direction: column;
            background-color: rgba(0, 0, 0, 0.145);
            border: solid 1px black;
        }
        