@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');
body {
    background-image:url(/img/backgroundDarkWood.jpg);
    background-size: cover ;
    background-attachment: fixed;
    font-family: 'IM Fell English SC', serif;
}

.imageMenu {
    border: 5px solid black;
    box-shadow: -5px 5px 5px 1px #262727;
}
.imageMenu:hover{
    filter: brightness(30%);
    transition: 0.4s;
    border: 5px solid rgb(255, 255, 255);
}

#listaJuegos {
    border: solid 1px black;
    background-color: rgba(255, 255, 255, 0.289);
}